{% extends 'header.html.twig' %}

{% block body %}

<main class="container mt-5 mb-5">
    <section class="row p-5">

        <div class="col-4 text-center p-3" style="background-color: #fdcb6e;">
            <h2 class="text-white font-weight-bold" >Récapitulatif</h2>
            <p class="h4 font-weight-bold mt-2">{{ bien.nom }}</p>
            <p>{{ bien.description }}</p>
            <p class="h4 font-weight-bold mt-4">Propriétaire : {{ bien.proprio}}</p>
        </div>
        


        <div class="col-4 p-5">
            {{form_start(form)}}

            {{form_row(form.date_debut, {'label' : 'Date de début : '}) }}
            {{form_row(form.date_fin, {'label' :  'Date de fin : '}) }}

            <input type="submit" value="Confirmer" id="button" class="btn font-weight-bold mt-2" style="background-color: #fdcb6e;" />
            
            <p id="alert" class="text-danger font-weight-bold mt-1" ></p>

            {{form_end(form)}}
        </div>

        <div class="col-4 text-center" id="affaire">
        </div>
        
    </section>
    

</main>
            
{% endblock %}
