{% extends 'header.html.twig' %}

{% block title %}Bien choisi{% endblock %}

{% block body %}
<div class="container">
    <div class="row p-5">
        <div class="col-9">
            <img src="{{ asset('assets/img/' ~ bien.imageName ) }}" class="w-75" style="border:5px #dfe6e9 solid; border-radius:20px">
            <p class="h4 font-weight-bold mt-2">{{ bien.nom }}</p>
        </div>
        <div class="col-3 jumbotron text-center p-5">
            <i class="fas ml-1 fa-3x fa-user-tag"></i>
            <p class="h2 font-weight-bold mt-1">{{ bien.proprio}}</p>
            {% if user.points <= "5"%}
                <i class="far fa-2x fa-star mt-2"></i>
            {% elseif user.points <= "10" and user.points > "5"%}
                <i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i>
            {% elseif user.points <= "15" and user.points > "10" %}
                <i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i>
            {% elseif user.points <= "20" and user.points > "15" %}
                <i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i>
                <i class="far fa-2x fa-star mt-2"></i>

            {% elseif user.points > "20" %}
                <i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i>
                <i class="far fa-2x fa-star mt-2"></i><i class="far fa-2x fa-star mt-2"></i>

            {% endif %}
            <a href="/pret/{{bien.nom}}"> <button class="btn btn-primary font-weight-bold mt-5">Réserver cet objet</button></a>
           
        </div>

        <div class="col-12 p-3 mt-3 border-bottom border-top">
            <h4>Description</h4>
            <p>{{ bien.description }}</p>
        </div>
    </div>
</div>
{% endblock %}
