{% extends 'header.html.twig' %}

{% block body %}
    <main class="container">
        <section class="row p-5">

            <div class="col-12 text-center">
                <h2>Formulaire d'inscription</h2>
            </div>

            <div class="col-6 offset-3 text-center">
            {{form_start(form)}}

            {{form_row(form.pseudo, {'label' : 'Pseudo : '}) }}
            {{form_row(form.mail, {'label' :  'Mail : '}) }}
            {{form_row(form.password, {'label' : 'Mot de passe : '}) }}
            <input type="submit" value="S'inscrire" class="btn btn-primary pull-right" />
            {{form_end(form)}}


            </div>


        </section>

    </main>



{% endblock %}
