{% extends 'header.html.twig' %}

{% block title %} MyLoc {% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <h1>Biens</h1>
        {% for bien in biens %}
            <div class="col-12">
                <p>{{ bien.nom }}</p>
                <p><a href="{{ bien.id }}">{{ bien.categorie }}</a></p>
                <div class="col-6"><img src="{{ asset('assets/img/' ~ bien.image ) }}"></div>
                <p><a href="{{ bien.id }}">Voir plus...</a></p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
