{% extends 'header.html.twig' %}


{% block body %}
    <div class="container">
        <div class="row">
            <h1>Biens</h1>
            {% for bien in biens %}
                
                    <p>{{ bien.nom }}</p>
                    <p><a href="{{ bien.id }}">{{ bien.categorie }}</a></p>
                    <img class="" src="{{ asset('assets/img/' ~ bien.image ) }}">
                    <p><a href="{{ bien.id }}">Voir plus...</a></p>
                
        {% endfor %}
        </div>
    </div>
{% endblock %}
