{% extends 'header.html.twig' %}

{% block title %}MyLoc{% endblock %}
{% block body %}
<main class="container">
    <session class="row">

        <div class="col-12">
            <h3 class="display-4 font-weight-bold my-5"><u>Annonces</u></h3>
        </div>

            {% for bien in biens %}

                <div class="row jumbotron">
                    <div class="col-6">
                        <img src="{{ asset('assets/img/' ~ bien.imageName ) }}" class="img-fluid w-75" style="border:5px blue solid; border-radius:20px">
                    </div>

                    <div class="col-6">
                        <a href="/single/{{ bien.nom }}"><p class="h2 font-weight-bold mt-5">{{ bien.nom }}</p></a>
                        <p><a href="/categorie/{{ bien.categorie }}">{{ bien.categorie }}</a></p>
                        <p>{{ bien.proprio}}</p>

                    </div>

                </div>

            {% endfor %}
    </session>
</main>
{% endblock %}