{% extends 'header.html.twig' %}

{% block body %}
<main class="container">
    <section class="row mb-5">

        <div class="col-12 text-center mt-5 mb-5">
            <i class="fas fa-5x fa-user"></i>
            <h2 class="mt-1">Compte Utilisateur</h2>
        </div>

        <div class="col-3 text-center compte p-5">
            <div class="mt-5">
                <i class="fas fa-3x fa-bullhorn"></i>
                <a href="/session/Ajout" class="lien"><h5 class="font-weight-bold">Déposer une annonce</h5></a>
            </div>
            <div class="mt-5">
                <i class="fas fa-3x fa-medal"></i>
                <h5 class="font-weight-bold">Solde de points : {{ user.points }}</h5>
            </div>
            {% if user.roles[2] is defined %}
            <div class="mt-5">
                <a class="btn-danger font-weight-bold btn-lg" href="https://localhost:8000/admin"><i class="fas fa-user-cog"></i> Admin</a>

            </div>
            {% endif %}
        </div>


        <div class="col-3 text-center border-right">

            <h4><span class="font-weight-bold" style="border:2px #55efc4 solid; border-radius:10px; padding:5px 10px;background-color:#55efc4 ">Annonces</span></h4>

            {% for bien in biens %}
                <p class="mt-3">{{bien.nom}}</p>
                <img src="{{ asset('assets/img/' ~ bien.imageName ) }}" class="img-fluid w-50 rounded border border-dark">
            {% endfor %}
        </div>

        <div class="col-3 text-center border-right">

            <h4><span class="font-weight-bold" style="border:2px #55efc4 solid; border-radius:10px; padding:5px 10px; background-color:#55efc4">Prêts en cours</span></h4>

            {% for bien in biens %}
                {% for loc in bien.prets %}
                    <p class="mt-3">{{bien.nom}}</p>
                    <img src="{{ asset('assets/img/' ~ bien.imageName ) }}" class="img-fluid w-50 rounded border border-dark">
                    <p>{{loc.emprunteur}} a emprunté cet objet du {{loc.dateDebut|date('d/m/Y')}} au {{loc.dateFin|date('d/m/Y')}}.</p>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="col-3 text-center">
    
            <h4><span class="font-weight-bold" style="border:2px #55efc4 solid; border-radius:10px; padding:5px 10px; background-color:#55efc4">Objets empruntés</span></h4>
            {% for pret in prets %}
                {% set loc = pret.bien %}
                <p class="mt-3">{{loc.nom}}</p>
                <img src="{{ asset('assets/img/' ~ loc.imageName ) }}" class="img-fluid w-50 rounded border border-dark">
                <p>Vous avez emprunté cet objet du {{pret.dateDebut|date('d/m/Y')}} au {{pret.dateFin|date('d/m/Y')}}.</p>
            {% endfor %}
        </div>
    </section>
</main>
{% endblock %}
