{% extends 'header.html.twig' %}

{% block body %}
<main class="container">

        <div class="w-50">
            {{form_start(form)}}


            {{form_label(form.nom)}}
            

            {{form_row(form.description)}}

            {{form_row(form.categorie)}}


            {{form_end(form)}}

        </div>



</main>



{% endblock %}
