{% extends 'header.html.twig' %}

{% block body %}
<main class="container">
    <section class="row p-5">

        <div class="col-12 text-center">
            <h2>Formulaire d'ajout</h2>
        </div>

        <div class="col-6 offset-3 text-center">
        {{form_start(form)}}
        {{form_row(form.nom, {'label' : 'Nom : '}) }}
        {{form_row(form.categorie, {'label' :  'Catégorie : '}) }}
        {{form_row(form.description, {'label' : 'Description : '}) }}
        {{form_row(form.imageFile, {'label' : 'Image : '}) }}
        <input type="submit" value="Ajouter" class="btn btn-primary" />

        {{form_end(form)}}

        </div>
    </section>

</main>



{% endblock %}
